#### Author: Fagbamigbe Kehinde
Twitter: @bornofdata

> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Before submitting your project, it will be a good idea to go back through your report and remove these sections to make the presentation of your work as tidy as possible. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate a Dataset (Replace this with something more specific!)

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [1]:
# import statements for all of the packages that I plan to use.


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline
sns.set_style('darkgrid')

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [2]:
pwd

'/kaggle/working'

[Link](https://www.census.gov/quickfacts/gunbarrelcitycitytexas) to dataset

Some estimates presented here come from sample data, and thus have sampling errors that may render some apparent differences between geographies statistically indistinguishable. Click the Quick Info  icon to the left of each row in TABLE view to learn about sampling error.

The vintage year (e.g., V2021) refers to the final year of the series (2020 thru 2021). Different vintage years of estimates are not comparable.

Users should exercise caution when comparing 2017-2021 ACS 5-year estimates to other ACS estimates. For more information, please visit the 2021 5-year ACS Comparison Guidance page.

Fact Notes
(a)Includes persons reporting only one race
(c)Economic Census - Puerto Rico data are not comparable to U.S. Economic Census data
(b)Hispanics may be of any race, so also are included in applicable race categories
Value Flags
-Either no or too few sample observations were available to compute an estimate, or a ratio of medians cannot be calculated because one or both of the median estimates falls in the lowest or upper interval of an open ended distribution.
FFewer than 25 firms
DSuppressed to avoid disclosure of confidential information
NData for this geographic area cannot be displayed because the number of sample cases is too small.
FNFootnote on this item in place of data
XNot applicable
SSuppressed; does not meet publication standards
NANot available
ZValue greater than zero but less than half unit of measure shown
QuickFacts data are derived from: Population Estimates, American Community Survey, Census of Population and Housing, Current Population Survey, Small Area Health Insurance Estimates, Small Area Income and Poverty Estimates, State and County Housing Unit Estimates, County Business Patterns, Nonemployer Statistics, Economic Census, Survey of Business Owners, Building Permits.

### Gun data

Here is a [link](https://www.fbi.gov/file-repository/nics_firearm_checks_-_month_year_by_state_type.pdf/view) to the description of firearms



Each column represents the type of transaction submitted to the **National Instant Criminal Background Check System (NICS)**. In addition, each type of transaction is broken down by the type of firearm—handgun, long gun, and other. The types of firearms are defined by the **Bureau of Alcohol, Tobacco, Firearms and Explosives** as follows:

- Handgun—(a) any firearm which has a short stock and is designed to be held and fired by the use of a single hand; and (b) any combination of parts from which a firearm described in paragraph (a) can be assembled.

- Long Gun—a weapon designed or redesigned, made or remade, and intended to be fired from the shoulder, and designed or redesigned and made or remade to use the energy of the explosive in (a) a fixed metallic cartridge to fire a single projectile through a rifled bore for each single pull of the trigger; or (b) a fixed shotgun shell to fire through a smooth bore either
a number of ball shot or a single projectile for each single pull of the trigger.

- Other—refers to frames, receivers, and other firearms that are neither handguns nor long guns (rifles or shotguns), such as firearms having a pistol grip that expel a shotgun shell, or National Firearms Act firearms, including silencers.

The transaction types indicated in yellow on the chart are for background checks initiated by an officially-licensed **Federal Firearms Licensee** (FFL) or criminal justice/law enforcement agency prior to the issuance of a firearm-related permit or transfer. 


The indication of **“multiple”** denotes a background check where more than one type of firearm is associated to a single
background check.

**“Admin”** denotes the administrative checks that are for other authorized uses of the NICS.

Other types of transactions are explained below:

- Pre-Pawn—background checks requested by an officially-licensed FFL on prospective firearm transferees seeking to pledge or pawn a firearm as security for the payment or repayment of money, prior to actually pledging or pawning the firearm.

- Redemption—background checks requested by an officially-licensed FFL on prospective firearm transferees attempting to regain possession of a firearm after pledging or pawning a firearm as security at a pawn shop.

- Returned/Disposition—background checks requested by criminal justice/law enforcement agencies prior to returning a firearm in its possession to the respective transferee, to ensure the individual is not prohibited.

- Rentals—background checks requested by an officially-licensed FFL on prospective firearm transferees attempting to possess a firearm when the firearm is loaned or rented for use off the premises of the business.

- Private Sale—background checks requested by an officially-licensed FFL on prospective firearm transferees attempting to possess a firearm from a private party seller who is not an officially-licensed FFL.

- Return to Seller-Private Sale—background checks requested by an officially-licensed FFL on prospective firearm transferees attempting to possess a firearm from a private party seller who is not an officially-licensed FFL.

It is important to note that the statistics within this chart represent the number of firearm background checks initiated through the NICS. They do not represent the number of firearms sold. Based on varying state laws and purchase scenarios, a one-to-one correlation cannot be made between a firearm background check and a firearm sale.

- month
- state
- permit
- permit_recheck
- handgun
- long_gun
- other
- multiple
- admin
- prepawn_handgun
- prepawn_long_gun
- prepawn_other
- redemption_handgun
- redemption_long_gun
- redemption_other
- returned_handgun 
- returned_long_gun
- returned_other 
- rentals_handgun
- rentals_long_gun
- private_sale_handgun 
- private_sale_long_gun
- private_sale_other
- return_to_seller_handgun
- return_to_seller_long_gun
- return_to_seller_other
- totals

## US Census data and Categories

The data in the US Census data is classified under different categories as seen below

- Population
- Age and Sex
- Race and Hispanic Origin
- Population Characteristics
- Housing
- Families & Living Arrangements
- Computer and Internet Use
- Education
- Health
- Economy
- Transportation
- Income & Poverty
- Businesses
- Geography

In [3]:
for dirname, _, filenames in os.walk('/kaggle/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/src/script.ipynb
/kaggle/lib/kaggle/gcp.py
/kaggle/input/gundata/gun-data.xlsx
/kaggle/input/uscensus/u.s.-census-data.csv
/kaggle/working/__notebook__.ipynb

In [4]:
gun_data = pd.read_excel('/kaggle/input/gundata/gun-data.xlsx')
gun_data.head(3)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394

In [5]:
us_census = pd.read_csv('/kaggle/input/uscensus/u.s.-census-data.csv')
us_census.head(3)

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%

In [6]:
gun_data.shape

(12485, 27)

In [7]:
us_census.shape

(85, 52)

In [8]:
gun_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      12485 non-null  object
 1   state                      12485 non-null  object
 2   permit                     12461 non-null  float64
 3   permit_recheck             1100 non-null   float64
 4   handgun                    12465 non-null  float64
 5   long_gun                   12466 non-null  float64
 6   other                      5500 non-null   float64
 7   multiple                   12485 non-null  int64
 8   admin                      12462 non-null  float64
 9   prepawn_handgun            10542 non-null  float64
 10  prepawn_long_gun           10540 non-null  float64
 11  prepawn_other              5115 non-null   float64
 12  redemption_handgun         10545 non-null  float64
 13  redemption_long_gun        10544 non-null  float64
 14  redemption_other           5115 non-null   float64
 15  returned_handgun           2200 non-null   float64
 16  returned_long_gun          2145 non-null   float64
 17  returned_other             1815 non-null   float64
 18  rentals_handgun            990 non-null    float64
 19  rentals_long_gun           825 non-null    float64
 20  private_sale_handgun       2750 non-null   float64
 21  private_sale_long_gun      2750 non-null   float64
 22  private_sale_other         2750 non-null   float64
 23  return_to_seller_handgun   2475 non-null   float64
 24  return_to_seller_long_gun  2750 non-null   float64
 25  return_to_seller_other     2255 non-null   float64
 26  totals                     12485 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

### Checking for the datatypes and the null values

In [9]:
us_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            80 non-null     object
 1   Fact Note       28 non-null     object
 2   Alabama         65 non-null     object
 3   Alaska          65 non-null     object
 4   Arizona         65 non-null     object
 5   Arkansas        65 non-null     object
 6   California      65 non-null     object
 7   Colorado        65 non-null     object
 8   Connecticut     65 non-null     object
 9   Delaware        65 non-null     object
 10  Florida         65 non-null     object
 11  Georgia         65 non-null     object
 12  Hawaii          65 non-null     object
 13  Idaho           65 non-null     object
 14  Illinois        65 non-null     object
 15  Indiana         65 non-null     object
 16  Iowa            65 non-null     object
 17  Kansas          65 non-null     object
 18  Kentucky        65 non-null     object
 19  Louisiana       65 non-null     object
 20  Maine           65 non-null     object
 21  Maryland        65 non-null     object
 22  Massachusetts   65 non-null     object
 23  Michigan        65 non-null     object
 24  Minnesota       65 non-null     object
 25  Mississippi     65 non-null     object
 26  Missouri        65 non-null     object
 27  Montana         65 non-null     object
 28  Nebraska        65 non-null     object
 29  Nevada          65 non-null     object
 30  New Hampshire   65 non-null     object
 31  New Jersey      65 non-null     object
 32  New Mexico      65 non-null     object
 33  New York        65 non-null     object
 34  North Carolina  65 non-null     object
 35  North Dakota    65 non-null     object
 36  Ohio            65 non-null     object
 37  Oklahoma        65 non-null     object
 38  Oregon          65 non-null     object
 39  Pennsylvania    65 non-null     object
 40  Rhode Island    65 non-null     object
 41  South Carolina  65 non-null     object
 42  South Dakota    65 non-null     object
 43  Tennessee       65 non-null     object
 44  Texas           65 non-null     object
 45  Utah            65 non-null     object
 46  Vermont         65 non-null     object
 47  Virginia        65 non-null     object
 48  Washington      65 non-null     object
 49  West Virginia   65 non-null     object
 50  Wisconsin       65 non-null     object
 51  Wyoming         65 non-null     object
dtypes: object(52)
memory usage: 34.7+ KB

### Columns for the data

In [10]:
# class column_names:
#     def __init__(self, df):
#         self.df = df
    
#     def colnames():
#         for columns in df.columns:
#             print(column)
            
    
# x = column_names(gun_data)
# x.colnames()

In [11]:
# for gun data

gun_data.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals'],
      dtype='object')

In [12]:
# for the us census data I will be doing a transpose to have the states as rows inorde to join with the state column of the gun violence data

### Check for missing / null values

In [13]:
gun_data.isnull().sum()

month                            0
state                            0
permit                          24
permit_recheck               11385
handgun                         20
long_gun                        19
other                         6985
multiple                         0
admin                           23
prepawn_handgun               1943
prepawn_long_gun              1945
prepawn_other                 7370
redemption_handgun            1940
redemption_long_gun           1941
redemption_other              7370
returned_handgun             10285
returned_long_gun            10340
returned_other               10670
rentals_handgun              11495
rentals_long_gun             11660
private_sale_handgun          9735
private_sale_long_gun         9735
private_sale_other            9735
return_to_seller_handgun     10010
return_to_seller_long_gun     9735
return_to_seller_other       10230
totals                           0
dtype: int64

In [14]:
us_census.isnull().sum()

Fact               5
Fact Note         57
Alabama           20
Alaska            20
Arizona           20
Arkansas          20
California        20
Colorado          20
Connecticut       20
Delaware          20
Florida           20
Georgia           20
Hawaii            20
Idaho             20
Illinois          20
Indiana           20
Iowa              20
Kansas            20
Kentucky          20
Louisiana         20
Maine             20
Maryland          20
Massachusetts     20
Michigan          20
Minnesota         20
Mississippi       20
Missouri          20
Montana           20
Nebraska          20
Nevada            20
New Hampshire     20
New Jersey        20
New Mexico        20
New York          20
North Carolina    20
North Dakota      20
Ohio              20
Oklahoma          20
Oregon            20
Pennsylvania      20
Rhode Island      20
South Carolina    20
South Dakota      20
Tennessee         20
Texas             20
Utah              20
Vermont           20
Virginia          20
Washington        20
West Virginia     20
Wisconsin         20
Wyoming           20
dtype: int64

### checking for duplicates in the data

In [15]:
gun_data.duplicated().sum()

0

In [16]:
us_census.duplicated().sum()

3

### Removing Duplicates

In [17]:
us_census.drop_duplicates(inplace = True)

In [18]:
us_census.duplicated().sum()

0

In [19]:
gun_data['state'].nunique()

55

In [20]:
gun_data['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Mariana Islands', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

#### USA has 50 state as seen from [here](https://www.nationsonline.org/oneworld/US-states-by-area.htm)

In [21]:
not_us = ['District of Columbia','Guam', 'Mariana Islands', 'Puerto Rico', 'Virgin Islands']
not_us

['District of Columbia',
 'Guam',
 'Mariana Islands',
 'Puerto Rico',
 'Virgin Islands']

## Dropping a column

In [22]:
us_census.drop('Fact Note', axis = 1, inplace = True)
us_census.head(2)

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)","4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065","20,612,439",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...","4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936","18,804,592",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"

### Transposing the data structure

In [23]:
us_cens_colnames = us_census.columns
us_cens_colnames

Index(['Fact', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [24]:
us_states = us_cens_colnames[[us_census.columns != 'Fact']]
us_states

/opt/conda/lib/python3.7/site-packages/pandas/core/indexes/base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [25]:
new_col = us_census['Fact'].unique()
new_col

array(['Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'Veterans, 2011-2015', 'Foreign born persons, percent, 2011-2015',
       'Housing units,  July 1, 2016,  (V2016)',
       'Housing units, April 1, 2010',
       'Owner-occupied housing unit rate, 2011-2015',
       'Median value of owner-occupied housing units, 2011-2015',
       'Median selected monthly owner costs -with a mortgage, 2011-2015',
       'Median selected monthly owner costs -without a mortgage, 2011-2015',
       'Median gross rent, 2011-2015', 'Building permits, 2016',
       'Households, 2011-2015', 'Persons per household, 2011-2015',
       'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
       'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
       'With a disability, under age 65 years, percent, 2011-2015',
       'Persons  without health insurance, under age 65 years, percent',
       'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
       'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
       'Total accommodation and food services sales, 2012 ($1,000)',
       'Total health care and social assistance receipts/revenue, 2012 ($1,000)',
       'Total manufacturers shipments, 2012 ($1,000)',
       'Total merchant wholesaler sales, 2012 ($1,000)',
       'Total retail sales, 2012 ($1,000)',
       'Total retail sales per capita, 2012',
       'Mean travel time to work (minutes), workers age 16 years+, 2011-2015',
       'Median household income (in 2015 dollars), 2011-2015',
       'Per capita income in past 12 months (in 2015 dollars), 2011-2015',
       'Persons in poverty, percent',
       'Total employer establishments, 2015', 'Total employment, 2015',
       'Total annual payroll, 2015 ($1,000)',
       'Total employment, percent change, 2014-2015',
       'Total nonemployer establishments, 2015', 'All firms, 2012',
       'Men-owned firms, 2012', 'Women-owned firms, 2012',
       'Minority-owned firms, 2012', 'Nonminority-owned firms, 2012',
       'Veteran-owned firms, 2012', 'Nonveteran-owned firms, 2012',
       'Population per square mile, 2010',
       'Land area in square miles, 2010', 'FIPS Code', nan,
       'NOTE: FIPS Code values are enclosed in quotes to ensure leading zeros remain intact.',
       'Value Notes', '1', 'Fact Notes', '(a)', '(b)', '(c)',
       'Value Flags', '-', 'D', 'F', 'FN', 'S', 'X', 'Z'], dtype=object)

In [26]:
us_census.shape

(82, 51)

In [27]:
new_us_census = us_census.transpose()   #us_census.T can also be used
new_us_census.head(3)

,0,1,2,3,4,5,6,7,8,9,...,74,76,77,78,79,80,81,82,83,84
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,(c),Value Flags,-,D,F,FN,NaN,S,X,Z
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
us_census = new_us_census.iloc[:,:64]
us_census.head(4)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"
Arizona,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,13.80%,...,"451,951","499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08"

In [29]:
us_census.columns = us_census.iloc[0]
us_census.head(3)

Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)","Persons 65 years and over, percent, April 1, 2010",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2...","Population, percent change - April 1, 2010 (es...","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, ...","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016,...","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2...","Persons 65 years and over, percent, April 1, 2010",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"

In [30]:
us_census.drop(us_census.index[0], inplace = True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [31]:
us_census.head(2)

Fact,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)","Persons 65 years and over, percent, April 1, 2010",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"

In [32]:
us_census.index

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [33]:
len(us_census.index)

50

In [34]:
us_census.reset_index(inplace = True)

### Renaming Column name

In [35]:
us_census.columns[:5]

Index(['index', 'Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010'],
      dtype='object', name='Fact')

In [36]:
us_census.rename(columns = {'index': 'state'}, inplace = True, errors='ignore' )

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [37]:
us_census.head(2)

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
1,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"

In [38]:
## can aslo be used for pivoting
#pd.wide_to_long(us_census, i = us_states, )
# new = us_census.pivot(index = us_states, columns = new_col)
# new.head(5)

In [39]:
us_census['state'].count()

50

In [40]:
gun_data.head(2)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303

In [41]:
us_census.head(2)

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
1,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"

In [42]:
gun_data.dtypes

month                         object
state                         object
permit                       float64
permit_recheck               float64
handgun                      float64
long_gun                     float64
other                        float64
multiple                       int64
admin                        float64
prepawn_handgun              float64
prepawn_long_gun             float64
prepawn_other                float64
redemption_handgun           float64
redemption_long_gun          float64
redemption_other             float64
returned_handgun             float64
returned_long_gun            float64
returned_other               float64
rentals_handgun              float64
rentals_long_gun             float64
private_sale_handgun         float64
private_sale_long_gun        float64
private_sale_other           float64
return_to_seller_handgun     float64
return_to_seller_long_gun    float64
return_to_seller_other       float64
totals                         int64
dtype: object

In [43]:
us_census.dtypes

Fact
state                                                                                    object
Population estimates, July 1, 2016,  (V2016)                                             object
Population estimates base, April 1, 2010,  (V2016)                                       object
Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)    object
Population, Census, April 1, 2010                                                        object
                                                                                          ...
Nonminority-owned firms, 2012                                                            object
Veteran-owned firms, 2012                                                                object
Nonveteran-owned firms, 2012                                                             object
Population per square mile, 2010                                                         object
Land area in square miles, 2010                                                          object
Length: 65, dtype: object

In [44]:
gun_data['state']

0              Alabama
1               Alaska
2              Arizona
3             Arkansas
4           California
             ...
12480         Virginia
12481       Washington
12482    West Virginia
12483        Wisconsin
12484          Wyoming
Name: state, Length: 12485, dtype: object

In [45]:
us_census['state']

0            Alabama
1             Alaska
2            Arizona
3           Arkansas
4         California
5           Colorado
6        Connecticut
7           Delaware
8            Florida
9            Georgia
10            Hawaii
11             Idaho
12          Illinois
13           Indiana
14              Iowa
15            Kansas
16          Kentucky
17         Louisiana
18             Maine
19          Maryland
20     Massachusetts
21          Michigan
22         Minnesota
23       Mississippi
24          Missouri
25           Montana
26          Nebraska
27            Nevada
28     New Hampshire
29        New Jersey
30        New Mexico
31          New York
32    North Carolina
33      North Dakota
34              Ohio
35          Oklahoma
36            Oregon
37      Pennsylvania
38      Rhode Island
39    South Carolina
40      South Dakota
41         Tennessee
42             Texas
43              Utah
44           Vermont
45          Virginia
46        Washington
47     West Virginia
48         Wisconsin
49           Wyoming
Name: state, dtype: object

In [46]:
gun_data.shape

(12485, 27)

In [47]:
us_census.shape

(50, 65)


## Population


- Population estimates, July 1, 2016,  (V2016) - April 1, 2010,  (V2016)
- Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)
- Population, Census, April 1, 2010


## Age and Sex
- Persons under 5 years, percent, July 1, 2016,  (V2016) - April 1, 2010
- Persons under 18 years, percent, July 1, 2016,  (V2016) - April 1, 2010
- Persons 65 years and over, percent,  July 1, 2016,  (V2016) - April 1, 2010
- Female persons, percent,  July 1, 2016,  (V2016) - April 1, 2010



## Race and Hispanic Origin
- White alone, percent, July 1, 2016,  (V2016)
- Black or African American alone, percent, July 1, 2016,  (V2016)
- American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)
- Asian alone, percent, July 1, 2016,  (V2016)
- Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)
- Two or More Races, percent, July 1, 2016,  (V2016)
- Hispanic or Latino, percent, July 1, 2016,  (V2016)
- White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)


## Families & Living Arrangements
- Persons per household, 2011-2015
- Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015


## Education
- High school graduate or higher, percent of persons age 25 years+, 2011-2015
- Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015


## Health
- With a disability, under age 65 years, percent, 2011-2015


### Census Bureau-designated regions and divisions

- Region 1: Northeast
 - Division 1: New England (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)
 - Division 2: Middle Atlantic (New Jersey, New York, and Pennsylvania)
- Region 2: Midwest (Prior to June 1984, the Midwest Region was designated as the North Central Region.)[8]
 - Division 3: East North Central (Illinois, Indiana, Michigan, Ohio, and Wisconsin)
 - Division 4: West North Central (Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, and South Dakota)
- Region 3: South
 - Division 5: South Atlantic (Delaware; Florida; Georgia; Maryland; North Carolina; South Carolina; Virginia; Washington, D.C. and West Virginia)
 - Division 6: East South Central (Alabama, Kentucky, Mississippi, and Tennessee)
 - Division 7: West South Central (Arkansas, Louisiana, Oklahoma, and Texas)
- Region 4: West
 - Division 8: Mountain (Arizona, Colorado, Idaho, Montana, Nevada, New Mexico, Utah, and Wyoming)
 - Division 9: Pacific (Alaska, California, Hawaii, Oregon, and Washington)

In [48]:
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
          'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming']

In [49]:
Northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Pennsylvania']
Midwest = ['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota']
South = ['Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina', 'Virginia', 'Washington', 'West Virginia', 'Alabama', 'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas']
West = ['Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah', 'Wyoming', 'Alaska', 'California', 'Hawaii', 'Oregon', 'Washington']

In [50]:
gun_data['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Mariana Islands', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [51]:
not_us = ['District of Columbia','Guam', 'Mariana Islands', 'Puerto Rico', 'Virgin Islands']
not_us

['District of Columbia',
 'Guam',
 'Mariana Islands',
 'Puerto Rico',
 'Virgin Islands']

In [52]:
Northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Pennsylvania']
Midwest = ['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota']
South = ['Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina', 'Virginia', 'Washington', 'West Virginia', 'Alabama', 'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas']
West = ['Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah', 'Wyoming', 'Alaska', 'California', 'Hawaii', 'Oregon']

In [53]:
Northeast, len(Northeast)

(['Connecticut',
  'Maine',
  'Massachusetts',
  'New Hampshire',
  'Rhode Island',
  'Vermont',
  'New Jersey',
  'New York',
  'Pennsylvania'],
 9)

In [54]:
Midwest, len(Midwest)

(['Illinois',
  'Indiana',
  'Michigan',
  'Ohio',
  'Wisconsin',
  'Iowa',
  'Kansas',
  'Minnesota',
  'Missouri',
  'Nebraska',
  'North Dakota',
  'South Dakota'],
 12)

In [55]:
South, len(South)

(['Delaware',
  'Florida',
  'Georgia',
  'Maryland',
  'North Carolina',
  'South Carolina',
  'Virginia',
  'Washington',
  'West Virginia',
  'Alabama',
  'Kentucky',
  'Mississippi',
  'Tennessee',
  'Arkansas',
  'Louisiana',
  'Oklahoma',
  'Texas'],
 17)

In [56]:
West, len(West)

(['Arizona',
  'Colorado',
  'Idaho',
  'Montana',
  'Nevada',
  'New Mexico',
  'Utah',
  'Wyoming',
  'Alaska',
  'California',
  'Hawaii',
  'Oregon'],
 12)

In [57]:
len(Northeast) + len(Midwest) + len(South) + len(West)

50

In [58]:
len(states)

50

### Changing Datatype

In [59]:
us_census.dtypes

Fact
state                                                                                    object
Population estimates, July 1, 2016,  (V2016)                                             object
Population estimates base, April 1, 2010,  (V2016)                                       object
Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)    object
Population, Census, April 1, 2010                                                        object
                                                                                          ...
Nonminority-owned firms, 2012                                                            object
Veteran-owned firms, 2012                                                                object
Nonveteran-owned firms, 2012                                                             object
Population per square mile, 2010                                                         object
Land area in square miles, 2010                                                          object
Length: 65, dtype: object

In [60]:
to_float = us_census.columns[1:]
to_float

Index(['Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'Veterans, 2011-2015', 'Foreign born persons, percent, 2011-2015',
       'Housing units,  July 1, 2016,  (V2016)',
       'Housing units, April 1, 2010',
       'Owner-occupied housing unit rate, 2011-2015',
       'Median value of owner-occupied housing units, 2011-2015',
       'Median selected monthly owner costs -with a mortgage, 2011-2015',
       'Median selected monthly owner costs -without a mortgage, 2011-2015',
       'Median gross rent, 2011-2015', 'Building permits, 2016',
       'Households, 2011-2015', 'Persons per household, 2011-2015',
       'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
       'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
       'Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015',
       'With a disability, under age 65 years, percent, 2011-2015',
       'Persons  without health insurance, under age 65 years, percent',
       'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
       'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
       'Total accommodation and food services sales, 2012 ($1,000)',
       'Total health care and social assistance receipts/revenue, 2012 ($1,000)',
       'Total manufacturers shipments, 2012 ($1,000)',
       'Total merchant wholesaler sales, 2012 ($1,000)',
       'Total retail sales, 2012 ($1,000)',
       'Total retail sales per capita, 2012',
       'Mean travel time to work (minutes), workers age 16 years+, 2011-2015',
       'Median household income (in 2015 dollars), 2011-2015',
       'Per capita income in past 12 months (in 2015 dollars), 2011-2015',
       'Persons in poverty, percent', 'Total employer establishments, 2015',
       'Total employment, 2015', 'Total annual payroll, 2015 ($1,000)',
       'Total employment, percent change, 2014-2015',
       'Total nonemployer establishments, 2015', 'All firms, 2012',
       'Men-owned firms, 2012', 'Women-owned firms, 2012',
       'Minority-owned firms, 2012', 'Nonminority-owned firms, 2012',
       'Veteran-owned firms, 2012', 'Nonveteran-owned firms, 2012',
       'Population per square mile, 2010', 'Land area in square miles, 2010'],
      dtype='object', name='Fact')

## Checking the type/class of the data

In [61]:
type(us_census)

pandas.core.frame.DataFrame

In [62]:
us_census.columns[0:2]

Index(['state', 'Population estimates, July 1, 2016,  (V2016)'], dtype='object', name='Fact')

In [63]:
#us_census.rename(columns = {'index': 'state', 'Fact': 'No'}, inplace = True, errors='ignore')

In [64]:
#us_census.columns[0:2]

df_18.rename(columns = lambda x: x.strip().lower().replace(" ","_"), inplace = True)

df_18['cyl'] = df_18['cyl'].astype(int)

pd.to_numeric(df_08['air_pollution_score'], errors = 'coerce')

for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/"))

df1

split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']


for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [65]:
us_test = us_census.copy()
us_test.head(2)

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
1,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"

In [66]:
in_percentage = ['Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',            
'Persons under 5 years, percent, July 1, 2016,  (V2016)',
'Persons under 5 years, percent, April 1, 2010',
'Persons under 18 years, percent, July 1, 2016,  (V2016)',
'Persons under 18 years, percent, April 1, 2010',
'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
'Persons 65 years and over, percent, April 1, 2010',
'Female persons, percent,  July 1, 2016,  (V2016)',
'Female persons, percent, April 1, 2010',
'White alone, percent, July 1, 2016,  (V2016)',
'Black or African American alone, percent, July 1, 2016,  (V2016)',
'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
'Asian alone, percent, July 1, 2016,  (V2016)',
'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
'Two or More Races, percent, July 1, 2016,  (V2016)',
'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
'Foreign born persons, percent, 2011-2015',
'Owner-occupied housing unit rate, 2011-2015',
'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
"Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
'With a disability, under age 65 years, percent, 2011-2015',
'Persons  without health insurance, under age 65 years, percent',
'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
'Persons in poverty, percent',
'Total employment, percent change, 2014-2015'
                ]

In [67]:
in_percentage

['Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
 'Persons under 5 years, percent, July 1, 2016,  (V2016)',
 'Persons under 5 years, percent, April 1, 2010',
 'Persons under 18 years, percent, July 1, 2016,  (V2016)',
 'Persons under 18 years, percent, April 1, 2010',
 'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
 'Persons 65 years and over, percent, April 1, 2010',
 'Female persons, percent,  July 1, 2016,  (V2016)',
 'Female persons, percent, April 1, 2010',
 'White alone, percent, July 1, 2016,  (V2016)',
 'Black or African American alone, percent, July 1, 2016,  (V2016)',
 'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
 'Asian alone, percent, July 1, 2016,  (V2016)',
 'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
 'Two or More Races, percent, July 1, 2016,  (V2016)',
 'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
 'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
 'Foreign born persons, percent, 2011-2015',
 'Owner-occupied housing unit rate, 2011-2015',
 'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
 'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
 'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
 "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
 'With a disability, under age 65 years, percent, 2011-2015',
 'Persons  without health insurance, under age 65 years, percent',
 'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
 'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
 'Persons in poverty, percent',
 'Total employment, percent change, 2014-2015']

In [68]:
in_usd = ["Median value of owner-occupied housing units, 2011-2015",
"Median selected monthly owner costs -with a mortgage, 2011-2015",
"Median selected monthly owner costs -without a mortgage, 2011-2015",
"Median gross rent, 2011-2015",
"Total retail sales per capita, 2012",
"Median household income (in 2015 dollars), 2011-2015",
"Per capita income in past 12 months (in 2015 dollars), 2011-2015"
]

In [69]:
in_usd

['Median value of owner-occupied housing units, 2011-2015',
 'Median selected monthly owner costs -with a mortgage, 2011-2015',
 'Median selected monthly owner costs -without a mortgage, 2011-2015',
 'Median gross rent, 2011-2015',
 'Total retail sales per capita, 2012',
 'Median household income (in 2015 dollars), 2011-2015',
 'Per capita income in past 12 months (in 2015 dollars), 2011-2015']

In [70]:
s_test = us_census.copy()
s_test.head(2)

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
1,Alaska,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"

In [71]:
for i in in_percentage:
    us_census[i] = us_census[i].str.replace( "%", "")
    #s_test[i] = s_test[i].str.replace( to_replace = "%", value = "", inplace = True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [72]:
us_census.head(5)

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,"4,863,300","4,780,131",1.70,"4,779,736",6.00,6.40,22.60,23.70,16.10,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
1,Alaska,"741,894","710,249",4.50,"710,231",7.30,7.60,25.20,26.40,10.40,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"
2,Arizona,"6,931,071","6,392,301",8.40,"6,392,017",6.30,7.10,23.50,25.50,16.90,...,"451,951","499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08"
3,Arkansas,"2,988,248","2,916,025",2.50,"2,915,918",6.40,6.80,23.60,24.40,16.30,...,"198,380","231,959","123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48"
4,California,"39,250,017","37,254,522",5.40,"37,253,956",6.30,6.80,23.20,25.00,13.60,...,"3,206,958","3,548,449","1,852,580","1,320,085","1,619,857","1,819,107","252,377","3,176,341",239.1,"155,779.22"

In [73]:
us_census['Median value of owner-occupied housing units, 2011-2015'].head(4)

0    $125,500
1    $250,000
2    $167,500
3    $111,400
Name: Median value of owner-occupied housing units, 2011-2015, dtype: object

In [74]:
in_usd
for i in in_usd:
    us_census[i] = us_census[i].str.replace( "$", "")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [75]:
us_census['Median value of owner-occupied housing units, 2011-2015'].head(4)

0    125,500
1    250,000
2    167,500
3    111,400
Name: Median value of owner-occupied housing units, 2011-2015, dtype: object

In [76]:
# for i in in_percentage:
#     s_test.rename(columns = {s_test[i].str: s_test[i].str +  str('%')}, inplace = True, errors='ignore')

In [77]:
us_census.head(4)

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,"4,863,300","4,780,131",1.70,"4,779,736",6.00,6.40,22.60,23.70,16.10,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
1,Alaska,"741,894","710,249",4.50,"710,231",7.30,7.60,25.20,26.40,10.40,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"
2,Arizona,"6,931,071","6,392,301",8.40,"6,392,017",6.30,7.10,23.50,25.50,16.90,...,"451,951","499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08"
3,Arkansas,"2,988,248","2,916,025",2.50,"2,915,918",6.40,6.80,23.60,24.40,16.30,...,"198,380","231,959","123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48"

### Converting datatype from string to float

In [78]:
new_test = us_census.copy()
new_test.head(3)

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,"4,863,300","4,780,131",1.70,"4,779,736",6.00,6.40,22.60,23.70,16.10,...,"322,025","374,153","203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33"
1,Alaska,"741,894","710,249",4.50,"710,231",7.30,7.60,25.20,26.40,10.40,...,"55,521","68,032","35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95"
2,Arizona,"6,931,071","6,392,301",8.40,"6,392,017",6.30,7.10,23.50,25.50,16.90,...,"451,951","499,926","245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08"

In [79]:
import re
for c in to_float:
    new_test[c] = new_test[c].apply(lambda x: re.sub("\D", "", x))

In [80]:
new_test.head(3)

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,4863300,4780131,170,4779736,600,640,2260,2370,1610,...,322025,374153,203604,137630,92219,272651,41943,316984,944,5064533
1,Alaska,741894,710249,450,710231,730,760,2520,2640,1040,...,55521,68032,35402,22141,13688,51147,7953,56091,12,57064095
2,Arizona,6931071,6392301,840,6392017,630,710,2350,2550,1690,...,451951,499926,245243,182425,135313,344981,46780,427582,563,11359408

In [81]:
new_test.dtypes

Fact
state                                                                                    object
Population estimates, July 1, 2016,  (V2016)                                             object
Population estimates base, April 1, 2010,  (V2016)                                       object
Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)    object
Population, Census, April 1, 2010                                                        object
                                                                                          ...
Nonminority-owned firms, 2012                                                            object
Veteran-owned firms, 2012                                                                object
Nonveteran-owned firms, 2012                                                             object
Population per square mile, 2010                                                         object
Land area in square miles, 2010                                                          object
Length: 65, dtype: object

In [82]:
for c in to_float:
    new_test[c] = pd.to_numeric(new_test[c], errors = 'ignore')

In [83]:
new_test.head()

Fact,state,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)",...,"Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,4863300,4780131,170,4779736,600,640,2260,2370,1610,...,322025,374153,203604,137630,92219,272651,41943,316984,944,5064533
1,Alaska,741894,710249,450,710231,730,760,2520,2640,1040,...,55521,68032,35402,22141,13688,51147,7953,56091,12,57064095
2,Arizona,6931071,6392301,840,6392017,630,710,2350,2550,1690,...,451951,499926,245243,182425,135313,344981,46780,427582,563,11359408
3,Arkansas,2988248,2916025,250,2915918,640,680,2360,2440,1630,...,198380,231959,123158,75962,35982,189029,25915,192988,56,5203548
4,California,39250017,37254522,540,37253956,630,680,2320,2500,1360,...,3206958,3548449,1852580,1320085,1619857,1819107,252377,3176341,2391,15577922

In [84]:
new_test.dtypes

Fact
state                                                                                    object
Population estimates, July 1, 2016,  (V2016)                                              int64
Population estimates base, April 1, 2010,  (V2016)                                        int64
Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)     int64
Population, Census, April 1, 2010                                                         int64
                                                                                          ...
Nonminority-owned firms, 2012                                                             int64
Veteran-owned firms, 2012                                                                 int64
Nonveteran-owned firms, 2012                                                              int64
Population per square mile, 2010                                                          int64
Land area in square miles, 2010                                                           int64
Length: 65, dtype: object

In [85]:
new_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 65 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   state                                                                                   50 non-null     object
 1   Population estimates, July 1, 2016,  (V2016)                                            50 non-null     int64
 2   Population estimates base, April 1, 2010,  (V2016)                                      50 non-null     int64
 3   Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)   50 non-null     int64
 4   Population, Census, April 1, 2010                                                       50 non-null     int64
 5   Persons under 5 years, percent, July 1, 2016,  (V2016)                                  50 non-null     int64
 6   Persons under 5 years, percent, April 1, 2010                                           50 non-null     int64
 7   Persons under 18 years, percent, July 1, 2016,  (V2016)                                 50 non-null     int64
 8   Persons under 18 years, percent, April 1, 2010                                          50 non-null     int64
 9   Persons 65 years and over, percent,  July 1, 2016,  (V2016)                             50 non-null     int64
 10  Persons 65 years and over, percent, April 1, 2010                                       50 non-null     int64
 11  Female persons, percent,  July 1, 2016,  (V2016)                                        50 non-null     int64
 12  Female persons, percent, April 1, 2010                                                  50 non-null     int64
 13  White alone, percent, July 1, 2016,  (V2016)                                            50 non-null     int64
 14  Black or African American alone, percent, July 1, 2016,  (V2016)                        50 non-null     int64
 15  American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)                50 non-null     int64
 16  Asian alone, percent, July 1, 2016,  (V2016)                                            50 non-null     int64
 17  Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)       46 non-null     float64
 18  Two or More Races, percent, July 1, 2016,  (V2016)                                      50 non-null     int64
 19  Hispanic or Latino, percent, July 1, 2016,  (V2016)                                     50 non-null     int64
 20  White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)                    50 non-null     int64
 21  Veterans, 2011-2015                                                                     50 non-null     int64
 22  Foreign born persons, percent, 2011-2015                                                50 non-null     int64
 23  Housing units,  July 1, 2016,  (V2016)                                                  50 non-null     int64
 24  Housing units, April 1, 2010                                                            50 non-null     int64
 25  Owner-occupied housing unit rate, 2011-2015                                             50 non-null     int64
 26  Median value of owner-occupied housing units, 2011-2015                                 50 non-null     int64
 27  Median selected monthly owner costs -with a mortgage, 2011-2015                         50 non-null     int64
 28  Median selected monthly owner costs -without a mortgage, 2011-2015                      50 non-null     int64
 29  Median gross rent, 2011-2015                                                            50 non-null     int64
 30  Building permits, 2016                                                                  50 non-null     int64
 31  Households, 2011-2015                                                                   50 non-null     int64
 32  Persons per household, 2011-2015                                                        50 non-null     int64
 33  Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015              50 non-null     int64
 34  Language other than English spoken at home, percent of persons age 5 years+, 2011-2015  50 non-null     int64
 35  High school graduate or higher, percent of persons age 25 years+, 2011-2015             50 non-null     int64
 36  Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015                50 non-null     int64
 37  With a disability, under age 65 years, percent, 2011-2015                               50 non-null     int64
 38  Persons  without health insurance, under age 65 years, percent                          50 non-null     int64
 39  In civilian labor force, total, percent of population age 16 years+, 2011-2015          50 non-null     int64
 40  In civilian labor force, female, percent of population age 16 years+, 2011-2015         50 non-null     int64
 41  Total accommodation and food services sales, 2012 ($1,000)                              50 non-null     int64
 42  Total health care and social assistance receipts/revenue, 2012 ($1,000)                 50 non-null     int64
 43  Total manufacturers shipments, 2012 ($1,000)                                            48 non-null     float64
 44  Total merchant wholesaler sales, 2012 ($1,000)                                          50 non-null     int64
 45  Total retail sales, 2012 ($1,000)                                                       50 non-null     int64
 46  Total retail sales per capita, 2012                                                     50 non-null     int64
 47  Mean travel time to work (minutes), workers age 16 years+, 2011-2015                    50 non-null     int64
 48  Median household income (in 2015 dollars), 2011-2015                                    50 non-null     int64
 49  Per capita income in past 12 months (in 2015 dollars), 2011-2015                        50 non-null     int64
 50  Persons in poverty, percent                                                             50 non-null     int64
 51  Total employer establishments, 2015                                                     50 non-null     int64
 52  Total employment, 2015                                                                  50 non-null     int64
 53  Total annual payroll, 2015 ($1,000)                                                     50 non-null     int64
 54  Total employment, percent change, 2014-2015                                             49 non-null     float64
 55  Total nonemployer establishments, 2015                                                  50 non-null     int64
 56  All firms, 2012                                                                         50 non-null     int64
 57  Men-owned firms, 2012                                                                   50 non-null     int64
 58  Women-owned firms, 2012                                                                 50 non-null     int64
 59  Minority-owned firms, 2012                                                              50 non-null     int64
 60  Nonminority-owned firms, 2012                                                           50 non-null     int64
 61  Veteran-owned firms, 2012                                                               50 non-null     int64
 62  Nonveteran-owned firms, 2012                                                            50 non-null     int64
 63  Population per square mile, 2010                                                        50 non-null     int64
 64  Land area in square miles, 2010                                                         50 non-null     int64
dtypes: float64(3), int64(61), object(1)
memory usage: 25.5+ KB

In [86]:
gun_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      12485 non-null  object
 1   state                      12485 non-null  object
 2   permit                     12461 non-null  float64
 3   permit_recheck             1100 non-null   float64
 4   handgun                    12465 non-null  float64
 5   long_gun                   12466 non-null  float64
 6   other                      5500 non-null   float64
 7   multiple                   12485 non-null  int64
 8   admin                      12462 non-null  float64
 9   prepawn_handgun            10542 non-null  float64
 10  prepawn_long_gun           10540 non-null  float64
 11  prepawn_other              5115 non-null   float64
 12  redemption_handgun         10545 non-null  float64
 13  redemption_long_gun        10544 non-null  float64
 14  redemption_other           5115 non-null   float64
 15  returned_handgun           2200 non-null   float64
 16  returned_long_gun          2145 non-null   float64
 17  returned_other             1815 non-null   float64
 18  rentals_handgun            990 non-null    float64
 19  rentals_long_gun           825 non-null    float64
 20  private_sale_handgun       2750 non-null   float64
 21  private_sale_long_gun      2750 non-null   float64
 22  private_sale_other         2750 non-null   float64
 23  return_to_seller_handgun   2475 non-null   float64
 24  return_to_seller_long_gun  2750 non-null   float64
 25  return_to_seller_other     2255 non-null   float64
 26  totals                     12485 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

In [87]:
gun_data.head(2)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303

In [88]:
new_gun = gun_data.copy()
new_gun.head(2)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303

In [89]:
split_column = ['month']
for c in split_column:
    new_gun['new_year']  = new_gun[c].apply(lambda x: int(x.split("-")[0]))
    new_gun['new_month'] = new_gun[c].apply(lambda x: int(x.split("-")[1]))

In [90]:
new_gun.head(3)

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,new_year,new_month
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019,2017,9
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303,2017,9
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394,2017,9

In [91]:
new_gun.dtypes

month                         object
state                         object
permit                       float64
permit_recheck               float64
handgun                      float64
long_gun                     float64
other                        float64
multiple                       int64
admin                        float64
prepawn_handgun              float64
prepawn_long_gun             float64
prepawn_other                float64
redemption_handgun           float64
redemption_long_gun          float64
redemption_other             float64
returned_handgun             float64
returned_long_gun            float64
returned_other               float64
rentals_handgun              float64
rentals_long_gun             float64
private_sale_handgun         float64
private_sale_long_gun        float64
private_sale_other           float64
return_to_seller_handgun     float64
return_to_seller_long_gun    float64
return_to_seller_other       float64
totals                         int64
new_year                       int64
new_month                      int64
dtype: object

In [92]:
gun_data.query('month == "2017-09"')

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506
5,2017-09,Colorado,4356.0,0.0,15751.0,13448.0,1007.0,1062,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35873
6,2017-09,Connecticut,4343.0,673.0,4834.0,1993.0,274.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12117
7,2017-09,Delaware,275.0,0.0,1414.0,1538.0,66.0,68,0.0,0.0,...,0.0,0.0,0.0,55.0,34.0,3.0,1.0,2.0,0.0,3502
8,2017-09,District of Columbia,1.0,0.0,56.0,4.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61
9,2017-09,Florida,10784.0,0.0,39199.0,17949.0,2319.0,1721,1.0,18.0,...,0.0,0.0,0.0,11.0,9.0,0.0,0.0,1.0,0.0,77390
10,2017-09,Georgia,12074.0,0.0,10933.0,7982.0,315.0,494,0.0,20.0,...,0.0,0.0,0.0,17.0,7.0,0.0,0.0,0.0,0.0,35371
11,2017-09,Guam,0.0,0.0,74.0,47.0,10.0,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,135
12,2017-09,Hawaii,946.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,948
13,2017-09,Idaho,5162.0,0.0,3058.0,5241.0,187.0,205,0.0,0.0,...,1.0,0.0,0.0,7.0,14.0,1.0,3.0,0.0,0.0,14938
14,2017-09,Illinois,15712.0,71432.0,18290.0,10201.0,0.0,814,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,116449
15,2017-09,Indiana,18241.0,0.0,16093.0,11332.0,1123.0,597,79.0,5.0,...,0.0,0.0,0.0,75.0,57.0,6.0,4.0,4.0,0.0,48524
16,2017-09,Iowa,5847.0,1217.0,151.0,2640.0,27.0,1,1.0,0.0,...,0.0,0.0,0.0,1.0,7.0,0.0,0.0,0.0,0.0,9975
17,2017-09,Kansas,1567.0,3.0,4518.0,5025.0,306.0,297,0.0,3.0,...,0.0,0.0,0.0,16.0,12.0,0.0,0.0,1.0,0.0,12856
18,2017-09,Kentucky,378384.0,0.0,8112.0,7543.0,253.0,543,1.0,16.0,...,0.0,0.0,0.0,21.0,19.0,1.0,2.0,1.0,0.0,398706
19,2017-09,Louisiana,1827.0,0.0,10495.0,11573.0,635.0,776,0.0,6.0,...,0.0,0.0,0.0,28.0,43.0,3.0,2.0,2.0,0.0,27821
20,2017-09,Maine,783.0,0.0,3026.0,4220.0,179.0,186,1.0,0.0,...,0.0,0.0,0.0,11.0,8.0,0.0,0.0,1.0,0.0,8715
21,2017-09,Mariana Islands,0.0,0.0,12.0,3.0,0.0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16
22,2017-09,Maryland,2424.0,0.0,3389.0,4897.0,168.0,34,0.0,0.0,...,0.0,0.0,0.0,0.0,26.0,1.0,0.0,1.0,0.0,11255
23,2017-09,Massachusetts,7160.0,0.0,4749.0,2808.0,449.0,158,0.0,0.0,...,0.0,0.0,0.0,55.0,33.0,20.0,4.0,4.0,1.0,15460
24,2017-09,Michigan,16571.0,19.0,8654.0,10676.0,379.0,163,0.0,1.0,...,0.0,0.0,0.0,21.0,40.0,1.0,0.0,0.0,0.0,36944
25,2017-09,Minnesota,25645.0,0.0,4862.0,12677.0,346.0,273,0.0,1.0,...,1.0,0.0,0.0,13.0,16.0,0.0,0.0,1.0,1.0,44552
26,2017-09,Mississippi,1362.0,0.0,6260.0,6035.0,206.0,405,0.0,33.0,...,0.0,0.0,0.0,11.0,9.0,0.0,0.0,0.0,0.0,17491
27,2017-09,Missouri,791.0,0.0,16993.0,14395.0,1050.0,991,0.0,12.0,...,0.0,0.0,0.0,75.0,66.0,3.0,1.0,3.0,0.0,37571
28,2017-09,Montana,1076.0,0.0,2395.0,4878.0,140.0,216,3.0,4.0,...,2.0,0.0,0.0,10.0,21.0,4.0,2.0,1.0,0.0,10283
29,2017-09,Nebraska,3036.0,113.0,110.0,1989.0,11.0,4,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,5345
30,2017-09,Nevada,1952.0,0.0,3992.0,2509.0,251.0,237,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9460
31,2017-09,New Hampshire,2795.0,0.0,4410.0,3248.0,132.0,3,2.0,0.0,...,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,10689
32,2017-09,New Jersey,0.0,0.0,3985.0,3040.0,140.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7165
33,2017-09,New Mexico,847.0,0.0,5309.0,4508.0,353.0,284,0.0,5.0,...,0.0,0.0,0.0,8.0,5.0,1.0,0.0,0.0,0.0,12491
34,2017-09,New York,2933.0,1164.0,8392.0,16213.0,998.0,185,0.0,0.0,...,1.0,3.0,5.0,348.0,328.0,19.0,7.0,4.0,1.0,30703
35,2017-09,North Carolina,19292.0,0.0,1235.0,11340.0,657.0,233,0.0,11.0,...,0.0,12.0,5.0,9.0,40.0,2.0,0.0,1.0,0.0,37325
36,2017-09,North Dakota,486.0,0.0,1359.0,2919.0,99.0,82,3.0,0.0,...,0.0,0.0,0.0,8.0,17.0,2.0,1.0,0.0,0.0,5212
37,2017-09,Ohio,8741.0,490.0,21085.0,14998.0,1202.0,1026,0.0,9.0,...,0.0,0.0,0.0,58.0,36.0,4.0,1.0,1.0,0.0,49942
38,2017-09,Oklahoma,0.0,0.0,8869.0,9020.0,741.0,807,0.0,17.0,...,0.0,0.0,0.0,59.0,37.0,4.0,1.0,5.0,0.0,23371
39,2017-09,Oregon,3774.0,11.0,11557.0,11773.0,0.0,7,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27277
40,2017-09,Pennsylvania,23144.0,0.0,39825.0,13222.0,48.0,0,179.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77003
41,2017-09,Puerto Rico,0.0,0.0,619.0,123.0,17.0,22,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,791
42,2017-09,Rhode Island,0.0,0.0,907.0,619.0,70.0,163,0.0,0.0,...,5.0,0.0,0.0,15.0,8.0,1.0,1.0,2.0,0.0,1799
43,2017-09,South Carolina,9380.0,349.0,7574.0,6037.0,379.0,295,0.0,22.0,...,0.0,0.0,0.0,13.0,10.0,0.0,0.0,0.0,0.0,25930
44,2017-09,South Dakota,562.0,0.0,2020.0,4155.0,154.0,141,0.0,1.0,...,0.0,0.0,0.0,3.0,14.0,0.0,0.0,0.0,0.0,7457
45,2017-09,Tennessee,16887.0,0.0,19219.0,13746.0,1042.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50945
46,2017-09,Texas,31390.0,0.0,39119.0,39416.0,2768.0,2473,0.0,59.0,...,0.0,0.0,0.0,121.0,87.0,13.0,2.0,5.0,0.0,128260
47,2017-09,Utah,12094.0,25.0,2840.0,3960.0,212.0,0,0.0,3.0,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20041
48,2017-09,Vermont,0.0,0.0,1276.0,1591.0,90.0,80,0.0,0.0,...,0.0,0.0,0.0,3.0,6.0,0.0,0.0,0.0,0.0,3084
49,2017-09,Virgin Islands,1.0,0.0,6.0,2.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
50,2017-09,Virginia,585.0,0.0,19676.0,15075.0,1100.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36446
51,2017-09,Washington,11451.0,44.0,13292.0,11548.0,1623.0,587,3.0,12.0,...,9.0,0.0,0.0,701.0,590.0,42.0,5.0,13.0,1.0,43049
52,2017-09,West Virginia,1668.0,0.0,5204.0,6161.0,216.0,387,11.0,15.0,...,3.0,0.0,0.0,16.0,18.0,0.0,1.0,0.0,0.0,16723
53,2017-09,Wisconsin,12224.0,0.0,10918.0,13133.0,612.0,43,0.0,0.0,...,3.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,37506
54,2017-09,Wyoming,280.0,11.0,1337.0,2015.0,61.0,97,1.0,1.0,...,0.0,0.0,0.0,10.0,14.0,1.0,0.0,0.0,0.0,4281

### Classifying/Grouping state s to west, east...


np.repeat('red', len(red_df))
# create color array for red dataframe
color_red = np.repeat('red', len(red_df))
color_red
array(['red', 'red', 'red', ..., 'red', 'red', 'red'], 
      dtype='<U3')
.shape
white_df.shape
(4898, 12)
len(white_df)
4898

In [93]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [94]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [95]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [96]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!